/* CSS Reset styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	/*font-weight: inherit;
	font-style: inherit;
	font-family: inherit; */
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
  background: url(background.png) top left repeat-x;
  margin: 0px;
  font-family: Arial,Helvetica,sans-serif;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {http://localhost:8080/ticket-monster/style/default.css
	quotes: "" "";
}

/* Application styles */

div#container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 1000px;
  background: url(curtains.png) top left no-repeat;
  background-color: #57636f;
}

div#main {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 800px;
}

div#header {
  height: 120px;
}

div.headerTitle {
  font-size: 24px;
  font-weight: bold;
  float: left;
  margin-top: 30px;
  margin-left: 8px;
}

div.headerSearch {
  color: #ffffff;
  float: right;
  margin-top: 30px;
}

div#menu {
  background: url(menu_bg.png) top left repeat-x;
  height: 32px;
  position: relative;
}

div.menuItem {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 32px;
}

div.menuItem a, div.menuItem a:visited {
  padding-top: 10px;
  display: block;
  height: 22px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;  
  width: 98px;  
  color: #ffffff;
}

div.menuItem a:hover {
  padding-top: 10px;
  display: block;
  height: 22px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;    
  width: 98px;
  color: #ffffff;
  background: url(menu_highlight.png) top left repeat-x;
}

div#menuItem1 {
  left: 0px;
}

div#menuItem2 {
  left: 100px;
}

div#menuItem3 {
  left: 200px;
}

div#menuItem4 {
  left: 300px;
}

div#menuItem5 {
  left: 400px;
}

div#menuItem6 {
  left: 500px;
}

div#content {
  background-color: #ffffff;
  height: 600px;
  padding: 4px;
}

div.eventdetail {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 80%;
}
